.container{
    display: flex;
    flex-wrap: wrap;
}
.center{
    text-align: center;

}
button {
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: gold;
  }